@import "tailwindcss";



body {
    margin: 0;
    padding: 0;
}

/* Header */
header h1{
    font-weight: bold;
    color: white;
    font-size: 23px;
}
nav ul li a{
    color: white;
    font-size: 20px;
}



/* Section-1 */
#main-divsec1{
    background-color: #00ae47;
    width: 100%;
}
#sec1 {
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#sec1 h1{
    font-weight: bold; 
    color: #fff;
    word-spacing: 12px;
    letter-spacing: 2px;
    font-size: 50px;
} 

#sec1 div{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}  



/* Section-2 */
#maindiv-sec2{
    width: 75vw;
    margin: 0 auto;
}
#maindiv-sec2 h1{
    color: #00ae47;
    font-weight: bolder;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    font-size: 50px;
    width: 100%;
}

#maindiv-sec2 #bg-div {
    background-color: #84d1a6;
    height: 6px;
    border-radius: 15px;
}
#sec2-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 45px;
}
#sec2-div img{
    height: 350px;
}
#sec2-div p{
    width: 67%;
    font-size: 27px;
    color: #000000;
}




/* Section3 */
#maindiv-sec3 {
    width: 75%;
    margin: 0 auto;
}
#maindiv-sec3 h1{
    color: #00ae47;
    font-weight: bolder;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    font-size: 50px;
    width: 100%;
}
#maindiv-sec3 #bg-div {
    background-color: #84d1a6;
    height: 6px;
    border-radius: 15px;
}
#maindiv-sec3 h3{
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
}
.dg-div {
    background-color: #009f32;
    border: 1px solid #00bf54;
}
.lg-div {
    background-color: #00bf54;
    border: 1px solid #009f32;
}



#sec3-2 .img-div {
    width: 100%;
}